.body {
    -webkit-font-smoothing: antialiased;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: #fff;
}
*,
*:before,
*:after {
    margin: 0 auto;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

/*btn*/
.btn {

    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #00E0D0;
    text-decoration: none;
    border: 1px solid #00E0D0;
    padding: 8px 15px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;

}


/*container*/

.container {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    padding: 0 15px;
}


/*header*/

.header {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    width: 950px;
    height: 50px;
    align-items: center;
}

.header__logo {
    position: relative;
}

.logo {
    position: absolute;
    top: 25px;

}

.header__square {
    margin-top: 12px;
}


/*nav==========*/
.nav {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 13px;
    margin-left: 280px;

}

.nav__link {
    color: #00E0D0;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 25px;
}

.nav__link:first-child {
    margin-left:0;
}

.nav__link:hover {
    color: #fff;
    opacity: 1;
}

/*intro========*/

.intro {
    width: 100%;
    height: 670px;
    background: url(../img/PUT%20YOUR%20BACKGROUND%20HERE.jpg) center no-repeat;
    background-size: cover;

}

.intro__inner {
    width: 100%;
    min-width: 780px;
    height: 390px;
    text-align: center;
}

.intro__title {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 32px;
    color: #fff;
    position: relative;
    padding-top: 210px;
    margin-bottom: 45px;
    text-align: center;

}

.intro__title:before {
    content: "";
    position: absolute;
    background-color: #00E0D0;
    width: 50px;
    height: 1px;
    top: 280px;
    left: 441px;
    z-index: 1;

}

.inro__subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    text-align: justify;
    padding-bottom: 40px;
    line-height: 1.7;

}

/*tajem===============*/

.tajem {

    width: 100%;
    height: 410px;
}

.tajem__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tajem__left {
    display: flex;
    width: 42%;
    float: right;
    margin-top: 65px;
}

.tajem__right {
    width: 58%;
    float: left;
}

.tajem__title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 22px;
    color: #413D4B;
    margin-top: 65px;
}

.tajem__subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    margin-top: 20px;
    margin-bottom: 30px;
}

.btn--about {
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #00E0D0;
    text-decoration: none;
    border: 1px solid #00E0D0;
    padding: 8px 15px;
    cursor: pointer;
    text-transform: uppercase;
    margin-left: 383px;
}

/*video===========*/

.player {
    display: flex;
    width: 100%;
    height: 550px;
    margin: auto 0;
    background: url(../img/PUT%20YOUR%20IMAGE%20HERE.jpg)center no-repeat;
    background-size: cover;
    align-items: center;

}

.player__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: #fff;
    margin-top: 330px;
    position: relative;
}

/*expertise======*/

.expertise {
    width: 100%;
    height: 650px;
}

.expertise__title {
    margin-top: 50px;
    margin-bottom: 15px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
}

.expertise__subtitle {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    position: relative;
    margin-bottom: 100px;
}

.expertise__subtitle:before {
    content: "";
    position: absolute;
    background-color: #C5C4C8;
    width: 50px;
    height: 2px;
    top: 35px;
    left: 437px;
    z-index: 0;
}


.expertise__item {
    display: flex;
    flex-direction: column;
    width: 950px;
    height: 515px;
    flex-wrap: wrap;
    margin-top: 125px;
}

.expertise__inner {
    display: inline-block;
    width: 33.33333%;
    height: 230px;
    position: relative;
    margin-right: 20px;
    margin-left: -13px;
}

.expertise__img {
    position: absolute;
    top: -65px;
    left: 140px;
    z-index: 1;
}

.expertise__name {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

.expertise__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
}

/*team===============*/

.team {
    width: 100%;
    height: 640px;
    background: url(../img/123.jpg) no-repeat;
    background-size: cover;
}

.team__title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    color: #fff;
    padding-top: 70px;
    position: relative;
    margin-bottom: 95px;
}

.team__title:before {
    content: "";
    position: absolute;
    background-color: #655C80;
    width: 50px;
    height: 2px;
    top: 115px;
    left: 437px;
    z-index: 0;
}

.team__item {
    display: flex;
    flex-direction: row;
}

.team__images {
    width: 220px;
    height: 229px;
    margin-bottom: 10px;
}

.team__inner {
    width: 222px;
    height: 309px;
    border: 1px solid #747289;
    margin-right: 20px;
}

.team__name {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-bottom: 7px;
}

.team__profession {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #AFAEBC;
    text-align: center;
    opacity: .7;
}

.team__subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: #fff;
    margin-top: 45px;
    margin-bottom: 25px;
}

.btn--team {
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #00E0D0;
    text-decoration: none;
    border: 1px solid #00E0D0;
    padding: 8px 15px;
    cursor: pointer;
    text-transform: uppercase;
    margin-left: 388px;

}

/*works==============*/

.works {
    width: 100%;
    height: 720px;
}

.works__title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 22px;
    color: #413D4B;
    float: left;
    margin-bottom: 65px;
    margin-top: 65px;
}

.btn--works {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
    color: #000;
    float: right;
    margin-bottom: 65px;
    margin-top: 65px;

}

.pointer {
    position: absolute;
    top: 3px;
    color: #413D4B;
    left: 165px;
    z-index: 0;
}

.works__item {
    width: 100%;
    height: 400px;
    display: flex;

    flex-wrap: wrap;
}

.works__img {
    width: 16.666666%;
    height: 200px;
    margin-bottom: 1px;

}

.btn--work {
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #00E0D0;
    text-decoration: none;
    border: 1px solid #00E0D0;
    padding: 8px 15px;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 70px;
    margin-left: 554px;
}

/*testimonials===========*/

.testimonials {
    width: 100%;
    height: 500px;
    background: url(../img/testimonials.jpg) no-repeat;
    background-size: cover;
}

.testimonials__title {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 100px;
    text-align: center;
    color: #fff;
    padding-top: 35px;
}

.text {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #fff;
    line-height: 1.6;
    opacity: .85;
    margin-top: 25px;
}


.testimonials__author {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 14px;
    text-align: center;
    color: #fff;
    margin-top: 45px;
}

.testimonials__profession {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px;
    text-align: center;
    opacity: .7;
    color: #fff;
    margin-top: 10px;
}

/*contact================*/

.contact {
    width: 1600px;
    height: 655px;
}

.contact__item {
    display: flex;
    justify-content: space-between;
}

.contact__left {
    width: 460px;
    height: 520px;

}

.contact__form {
    width: 460px;

}

.contact__field {
    width: 460px;

}

.contact__input {
    width: 460px;
    margin-bottom: 21px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #9F9DA4;
    opacity: 0.5;
    border: solid #E5E5E5 1px;
}

.contact__massage {
    color: #9F9DA4;
    width: 460px;
    margin-bottom: 21px;
    height: 200px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    opacity: 0.5;
    border: solid #E5E5E5 1px;


}


.contact__title {
    margin-top: 62px;
    margin-bottom: 30px;
    display: block;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 22px;
    float: left;
}
.contact__title1 {
    display: block;
    float: right;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 22px;
}





.contact__img {
    padding-bottom: 15px;
    margin-bottom: 25px;

    float: left;
}

.img__left {
    width: 160px;
    height: 405px;
    margin-right: 80px;
    margin-top: 22px;

}

.img__right {
    width: 160px;
    height: 406px;
    margin-top: 22px;
}

.contact__right {
    display: flex;
    vertical-align: left;
    flex-wrap: nowrap;
    width: 385px;
    height: 480px;
    float: left;
    padding-top: 100px;
    margin-bottom: 50px;

}

.contact__buutton {
    font-family: 'Hammersmith One', sans-serif;
    background: #fff;
    font-weight: 400;
    font-size: 16px;
    color: #00E0D0;
    text-decoration: none;
    border: 1px solid #00E0D0;
    padding: 8px 25px;
    cursor: pointer;
    text-transform: uppercase;
}

/*footer==============*/

.footer {
    display: flex;
    width: 100%;
    height: 400px;
    background: url(../img/565656.jpg) no-repeat;
    background-size: cover;
}

.footer__item {
    display: flex;
    justify-content: space-between;
}

.footer__left {
    width: 300px;
    height: 275px;
    margin-right: 20px;
}

.header__square {

}

.footer-logo {
    margin-top: 65px;
}

.footer__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    line-height: 1.8;
    margin-top: 25px;
}

.footer__midl {
    width: 300px;
    height: 190px;
    margin-top: 75px;
    margin-right: 20px;
}

.footer__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 15px;
    color: #fff;
}

.footer__address {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    line-height: 1.8;
    font-style: normal;
    margin-top: 30px;
}

.footer__add {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    line-height: 1.8;
    font-style: normal;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 30px;
    position: relative;
}

.footer__svg {
    position: absolute;
    width: 18px;
    height: 18px;

}

.footer__svg2 {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0;
    left: -25px;
}

.footer__phone {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    margin-left: 30px;
    position: relative;
}

.footer__right {
    width: 295px;
    height: 165px;
    margin-top: 75px;
}

.footer__newsletter {
    width: 291px;
    height: 45px;
}

.footer__form {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;

}

.footer__massage {
    width: 291px;
    height: 45px;
    background: transparent;
    border: 1px solid #9E97B0;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #fff;


}

.footer__submit {
    width: 70px;
    height: 45px;
}

.footer__buutton {
    width: 70px;
    height: 45px;
    opacity: .5;
}


.footer__social {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.footer__icon {
    fill: #fff;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;

}

.footer__btn {
    width: 25px;
    height: 25px;
}

.footer__basement {
    width: 100%;
    height: 35px;

}

.footer__link {
    width: 310px;
    float: left;
}

.link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    margin-top: 14px;
}

.footer__copyright {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    text-align: right;
}



